#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* background-color: aquamarine; */


}

.search-pages {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1577580529485-d39b28695fdf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80');
  background-size: cover;
}

.climb-area-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('https://images.unsplash.com/photo-1623872373655-1ccd020beea5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80');
  background-size: cover;
  background-attachment: fixed;
  padding-left: 0;
}

.card {
  /* width: 30vw; */
  margin-bottom: 20vh;
}

.go-button {
  background-color: pink;
  color: brown;
}

#outlined-search {
  background-color: rgba(255, 255, 255, 0.77);
  width: 60vw;
  color: white;
  border-radius: 20px;
}



/* .climb-area-list .card:nth-child(even) {
  align-self: flex-end;

} */